img {
    width: 200px;
}

.top {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    background-color: #1f2937;
    color: #f9faf8;
    align-items: center;
    padding: 0px 0px;
    margin: 0px -10px;
    
}

.top ul {
    display: flex;
    list-style: none;
    gap: 30px
}

.header {
    font-size: 24px;
    font-weight: bolder;
    color: #f9faf8;
}

.awesome {
    display: flex;
    background-color: #1f2937;
    color: #f9faf8;
    justify-content: center;
    justify-content: space-evenly;
    padding: 80px;
    margin: 0px -10px;
    gap: 100px
   
}

.awesome img {
    width: 465px;
}

.awesome p {
    width: 370px;
    font-size: 18px;
    color: #e5e7eb;
    margin-top: -20px;
}

.website {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.awesome button {
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 5px;
    border: 10px solid #3882f6;
    font-weight: bolder;
    width: 150px;
    font-size: 18px;
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.random {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.container {
    display: flex;
    justify-content: center;
    gap: 65px;
    padding: 100px;
    margin-top: -75px;
    margin-bottom: 25px;
    
}

.container img {
    border: 3px solid blue;
    border-radius: 10px;
    width: 175px;
    height: 175px;
}

.container p {
    display: flex;
    justify-self: center;
    width: 150px;
}

.one, .two, .three, .four {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quote-container {
    background-color: #e5e7eb;
    padding: 100px;
    margin: 0px -10px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.quote {
    font-size: 36px;
    font: light italic;
    color: #1f2937;
    width: 700px;
}

.tag {
    display: flex;
    align-self: end;
    font-size: 25px;
    font: light italic;
    font-weight: bold;
    margin-right: 650px;
    margin-top: 50px;
}

.end {
    display: flex;
    justify-content: center;
    gap: 100px;
    padding: 50px;
    background-color: #3882f6;
    color: white;
    border: solid white;
    margin: 100px;
    width: 1350px;
    margin: 90px 0px 90px 425px;
    border-radius: 20px;
}

.action div {
    margin-top: -15px;
    font-size: 18px;
}

.end button {
    align-self: center;
    margin-top: 25px;
}

.end button {
    color: white;
    background-color: #3882f6;
    font-size: 22px;
    font-weight: bold;
    width: 150px;
    height: 50px;
    border-radius: 10px;
    border-color: white;
}

footer {
    background-color: #1f2937;
    color: white;
    font-size: large;
    display: flex;
    justify-content: center;
    padding: 75px;
    margin: 0px -10px;

}