img {
width: 100px;
}


.top {
    display: flex;
    background-color: #1F2937;
    color: white;
    padding: 15px;
    justify-content: space-between;
    align-items:center;
    margin: -10px;
    
}

.header {
    margin: 0px 70px
}


ul {
    display: flex;
    gap: 20px;
    list-style: none;
    font-size: x-small;
    margin: 0px 50px;
    
}

.website {
    margin-bottom: 0px;
}

.topic {
    margin-top: -15px;
    margin-right: 30px;
}

.awesome {
    display: flex;
    flex: 1;
    background-color:#1F2937;
    margin: 0px -10px;
    padding: 50px 80px 50px 85px;
    color: white;
    font-size: small;
    
}

.awesome img {
    width: 200px;
}

.awesome button {
    background-color: #3882F6;
    color: white;
    width: 80px;
    border-radius: 5px;
    padding: 2px;
    
}

.container {
    display: flex;
    padding: 20px 0px 30px 0px;


}

.quote {
    background-color: grey;
    padding: 50px;
    margin: -10px;

}

.action {
    padding: 40px;
    background-color: blue;

}